<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">

   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
   <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link href="css/account.css" rel="stylesheet">
   <script src="js/post.js"></script>
</head>

<body>
        <div class="navbar">
           <button type="submit" onclick="window.location.href = '/lost';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
           <h3>My Account</h3>
        </div>
        <div id="profilepic"><i class="fa fa-user"></i></div>

        <div class="accinfo1">
          <label for="name">Username: Placeholder</label>
        </div>

        <div class="accinfo2">
          <label for="lost">My Lost Items:</label>
            <div class="lostPost">
            {{#each lostposts}}
            <div class="individual">
              <img src="{{image}}" class="img-responsive">
              <h1>{{name}}</h1>
              <p>Description: {{description}}</p>
              <span id="moreText"><p>Last Seen: {{lastseen}}</p><p>Date: {{date}}</p></span>
            </div>
            {{/each}}
          </div>
        </div>

        <div class="accinfo2">
          <label for="lost">My Found Items:</label>
            <div class="lostPost">
            {{#each foundposts}}
            <div class="individual">
            <img src="{{image}}" class="img-responsive">
              <h1>{{name}}</h1>
              <p>Description: {{description}}</p>
              <span id="moreText"><p>Last Seen: {{lastseen}}</p><p>Date: {{date}}</p></span>
            </div>
            {{/each}}
          </div>
        </div>     


     <div class="logout"> 
	     <button type="submit" onclick="window.location.href = '/';">Logout</button>
    </div>   


</body>
