<!doctype html>

<html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-WZ1TWM3X3E"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'G-WZ1TWM3X3E');
	</script>
   <link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/bootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="apple-mobile-web-app-capable" content="yes">
   <link href="/css/introHCI2.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
   <script src="js/introHCI.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<div class="top">
		<form class="example" action="account">
	  		<input type="text" id="myInput" onkeyup="myFunctionSearch()" placeholder="Search for items.." title="Type in a name">
	<button id="account" class="account" onclick="window.location.href = 'account';"><i class="fa fa-user" aria-hidden="true"></i></button>		
		</form>
		<div class="dropdown">
		  <button class="dropbtn"><i class="fa fa-bars" aria-hidden="true"></i></button>
		  <div class="dropdown-content">
		  	  <a>Sort By:</a>
			  <a onclick="sortNew()">Date Posted (Newest)</a>
			  <a onclick="sortOld()" >Date Posted (Oldest)</a>
	 	  </div>
		</div>
			<div class="bottom">
<!-- 			<button class="back" onclick="window.location.href = '/';"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
 -->			<button id="lost" class="lost" onclick="switchFtoL()">Lost</button>
			<button id="found" class="found" onclick="switchLtoF()">Found</button>
<!-- 			<button id="account" class="account" onclick="window.location.href = 'account';"><i class="fa fa-user" aria-hidden="true"></i></button> -->
	</div>
	</div>
	<div class="post">
		{{#each posts}}
		   <div class="individual" id="{{id}}">
		   	  <p id="moreText">{{date}}</p>
		      <img src="{{image}}" class="img-responsive">
		      <h1>{{name}}</h1>
		      <a href = "tel:{{contact}}" style= "padding:5px;">Phone number: {{contact}}</a>
		      <p>Description: {{description}}</p>
		      <!-- Add contact info -->
            <span id="moreText"><p>Last Seen: {{lastseen}}</p><p>Date: {{date}}</p></span>

            <button class="more"><i class="fa fa-angle-down"></i></button>
		   </div>
		{{/each}}
	</div>
	<div class="middle">
		<button class="plus" onclick="window.location.href = 'post';"><i class="fa fa-plus" aria-hidden="true"></i>     New Post</button>
<!-- 	<button id="account" class="account" onclick="window.location.href = 'account';"><i class="fa fa-user" aria-hidden="true"></i></button> -->
	</div>
</body>

</html>


